name: Todo Fronted CI/CD

on:
  push:
    branches: [ "master" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Build and push Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: true
        tags: ${{ secrets.DOCKER_USERNAME}}/todo-frontend:latest

        build-args: |
          VITE_API_BASE_URL=http://${{ secrets.GCP_BACKEND_ID }}:8080

        cache-from: type=gha
        cache-to: type=gha,mode=max

    - name: Deploy to GCP
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.GCP_HOST }}
        username: ${{ secrets.GCP_USERNAME }}
        key : ${{ secrets.GCP_SSH_KEY }}
        port: 22
        script: |
          docker stop todo-frontend || true
          docker rm todo-frontend || true
          
          docker pull ${{ secrets.DOCKER_USERNAME }}/todo-frontend:latest
          
          docker run -d \
            --name todo-frontend \
            -p 80:80 \
            --restart always \
            ${{ secrets.DOCKER_USERNAME }}/todo-frontend:latest
          
          docker image prune -f
